@reset-global pc;

body {
  font-family: Helvetica;
  padding: 5px;
}

a {
  text-decoration: none;
}

h2 {
  padding: 5px;
}

.kanjiList {
  display: flex;
  flex-wrap: wrap;
}

.kanji {
  width: calc(100% / 3 - 10px);
  background-color: #ff7777;
  margin: 5px;
  text-align: center;
  color: #fff;
}

.radical {
  composes: kanji;
  background-color: #7777ff;
}

.wrapper {
  padding: 10px;
}

.character {
  font-size: 30px;
  margin-bottom: 3px;
  text-align: center;
  display: inline-block;
}

.characterImgWrapper {
  display: flex;
  height: 1.4em;
}

.characterImg {
  width: 30px;
  align-self: center;
}

.nav {
  display: flex;
}

.navLink {
  display: block;
  background-color: #ffaaaa;
  margin: 5px;
  padding: 20px 30px;
  color: #000;
}

.navLinkActive {
  composes: navLink;
  background-color: #ff7777;
}
