@reset-global pc;

body {
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

.levels {
  font-size: 11px;
  color: #fff;
  background-color: #333;
  padding: 3px 0;
  text-align: center;
}

.nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5)
}

.navLinks {
  display: flex;
}

.navLink {
  display: block;
  background-color: #ccc;
  margin: 10px 0 10px 10px;
  padding: 20px 30px;
  color: #000;
}

.navLinkActive {
  composes: navLink;
  background-color: #333;
  color: #fff;
}

h2 {
  padding: 10px;
  margin: 5px;
  background-color: #555;
  color: #fff;
}

.entityWrapper {
  padding: 105px 5px 5px;
}

.entityList {
  display: flex;
  flex-wrap: wrap;
}

.entity {
  width: calc(100% / 3 - 10px);
  margin: 5px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  /* min-height: 1px; */
  /* transition: min-height 4s; */
  /* order: 0; */
}

.entityActive {
  width: calc(100% - 10px);
  /* min-height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* order: 1; */

  .character {
    font-size: 50px;
  }

  .srsLevel {
    font-size: 20px;
  }
}

/* .entityActive ~ .entity { */
/*   order: 1; */
/* } */
/*  */
/* .entityActive:nth-child(3n - 1) + .entity { */
/*   order: 0; */
/* } */
/*  */
/* .entityActive:nth-child(3n - 1) + .entity + .entity { */
/*   order: 0; */
/* } */
/*  */
/* .entityActive:nth-child(3n) + .entity { */
/*   order: 0; */
/* } */

.novice {
  opacity: 0.3;
}

.apprentice {
  opacity: 0.7;
}

.guru {
}

.master {
  box-shadow: inset 10px 0px 0px 0px #000;
}

.kanji {
  composes: entity;
  background-color: #f100a1;
}

.radical {
  composes: entity;
  background-color: #00a1f1;
}

.vocab {
  composes: entity;
  font-size: 18px;
  background-color: #a100f1;
}

.wrapper {
  padding: 10px;
}

.character {
  margin-bottom: 3px;
  text-align: center;
  display: inline-block;
}

.srsLevel {
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.characterImgWrapper {
  display: flex;
  height: 1.4em;
}

.characterImg {
  width: 30px;
  align-self: center;
}

.details {
  padding-bottom: 10px;

  table {
    margin: 20px auto 0;
    font-size: 15px;
    color: #fff;

    td {
      padding-left: 20px;
      padding-bottom: 5px;
      width: 50%;

      &:first-child {
        padding-left: 0;
        text-align: right;
      }
    }
  }
}
